#counter{
    color: white;
    background-color: rgb(78, 78, 78);
    
  
}

#mm ,#list{
    display: inline-block;
   
}
#cc>li{
  list-style-type: none;

  display: inline-block;
  margin-left: 20px;
  
  

  
}
#list{
    margin-left: 900px;
}

#pp{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
.item1{
  border: 10px whitesmoke solid;
    
}